<a href="https://colab.research.google.com/github/Vansht7089/ML-Lab/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_int = 1234567

print(my_int)

1234567

In [ ]:
num = int(input("Enter the number to print its table: "))
for i in range (1,11):
  print(num, "x",i,"=",num*1)

Enter the number to print its table: 5
5 x 1 = 5
5 x 2 = 5
5 x 3 = 5
5 x 4 = 5
5 x 5 = 5
5 x 6 = 5
5 x 7 = 5
5 x 8 = 5
5 x 9 = 5
5 x 10 = 5

In [ ]:
fruits = ["Apple","Banana","Pineapple","Papaya","Orange"]
OddL = []
newL = []
for i in fruits :
  if 'p' in 1:
    newL.append(i)
    else :
      OddL.append(i)
      print("fruits is : ",fruits)
      print("newL is : ",newL)
      print("OddL is : ",OddL)

SyntaxError: invalid syntax (<ipython-input-13-c5be36e3c462>, line 7)

In [ ]:
l= ["indore","rajgad","dewas","patna","ujjain"]
print(l)
l.append("dewas")
print(l)
newlist=[]
for x in l:
  newlist.append(x)
  print(newlist)

['indore', 'rajgad', 'dewas', 'patna', 'ujjain']
['indore', 'rajgad', 'dewas', 'patna', 'ujjain', 'dewas']
['indore']
['indore', 'rajgad']
['indore', 'rajgad', 'dewas']
['indore', 'rajgad', 'dewas', 'patna']
['indore', 'rajgad', 'dewas', 'patna', 'ujjain']
['indore', 'rajgad', 'dewas', 'patna', 'ujjain', 'dewas']

In [ ]:
marks = (9,12,4,15)
print(marks[1:4])
print(marks[:4])
print(marks[::-1])
print(marks[:-2])

(12, 4, 15)
(9, 12, 4, 15)
(15, 4, 12, 9)
(9, 12)

In [ ]:
Name = "Umesh Yadav"
print(Name)
firstName = Name[:8]
lastName = Name[9:]
print("Hello Mr.{} {}".format(firstName,lastName))

Umesh Yadav
Hello Mr.Umesh Ya av